<body>
   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container-fluid">
            <a class="navbar-brand" href="#"><img style="min-width: 50px;" src="./images/logo.svg" alt="Logo.svg"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
               aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="snip1226 navbar-nav">
                  <li class="current"><a href="#" data-hover="Home">Home</a></li>
                  <li><a href="#preparation1Parallax" data-hover="Esplora">Esplora</a></li>
                  <li><a href="#productsContainer" data-hover="Prodotti">Prodotti</a></li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <main>
      <div class="parallax" id="homeParallax">
         <div id="titleContainer">
            <h1>Pane Inc.</h1>
            <h4>Il miglior pane a portata di mano</h4>
            <a href="#preparation1Parallax">Esplora</a>
         </div>
      </div>
      <div class="parallax" id="preparation1Parallax">
         <div id="titleContainerPreparation">
            <div id="descrizionePreparation" class="doubleContainerPreparation">
               <h1>L'arte della preparazione</h1>
               <p>“La preparazione del pane è un'arte antica che unisce sapientemente la scienza e la
                  creatività. Il
                  processo inizia con la scelta degli ingredienti di qualità: farina, acqua, sale e lievito. L'impasto
                  viene lavorato con cura per creare una consistenza elastica e soffice, che viene poi lasciata riposare
                  per alcune ore per permettere al lievito di fare il suo lavoro“
               </p>
            </div>
            <div class="doubleContainerPreparation">
               <img id="imagePreparation" src="./images/parallax/breadPreparation2.jpg" alt="bread preparation 2">
            </div>
         </div>
      </div>
      <div class="parallax" id="productsParallax">
         <div id="productsMasterContainer">
            <h1>I nostri prodotti</h1>
            <div id="productsContainer">
            </div>
         </div>
      </div>
   </main>
   <footer class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
         <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
               <svg class="bi" width="30" height="24">
                  <use xlink:href="#bootstrap"></use>
               </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted" style="color: white !important">© 2023 Pane, Inc</span>
         </div>

         <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook"></i> </a></li>
         </ul>
      </footer>
   </footer>
</body>