@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
body,
html {
  height: 100%;
  background-color: #212529;
}

/* #region main */
.parallax {
  min-height: 500px;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #region home */
#homeParallax {
  background-image: url("../images/parallax/home.jpg");
  height: calc(100vh - 77px);
}

#titleContainer {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#titleContainer h1 {
  font-size: 9vw;
}

#titleContainer > * {
  text-align: center;
  opacity: 1;
}

#titleContainer a {
  padding: 10px 15px;
  text-decoration: none;
  background-color: #e67e22;
  color: white;
  font-size: large;
  width: 150px;
  margin-top: 5px;
  border-radius: 10px;
  transition: 0.15s linear;
}

#titleContainer a:hover {
  transition: 0.15s linear;
  background-color: rgba(230, 125, 34, 0.5137254902);
}

/* #endregion home */
/* #region preparation */
#preparation1Parallax {
  background-image: url("../images/parallax/breadPreparation1.jpg");
}

.doubleContainerPreparation {
  height: 100vh;
  width: 50vw;
}

#titleContainerPreparation {
  display: flex;
}

@media screen and (max-width: 1100px) {
  #titleContainerPreparation {
    flex-direction: column;
  }
  .doubleContainerPreparation {
    height: 50vh;
    width: 100vw;
  }
  #preparation1Parallax {
    height: 100vh;
  }
  #preparation1Parallax h1 {
    font-size: clamp(1.5rem, 6vw, 3rem) !important;
    margin-bottom: 25px !important;
  }
  #descrizionePreparation p {
    min-width: 90vw !important;
    border-radius: 15px;
    padding: 25px !important;
    font-size: clamp(1rem, 1.5vw, 2.2rem);
  }
}
@media screen and (max-height: 670px) {
  #descrizionePreparation p {
    padding-top: 5px !important;
  }
}
#imagePreparation {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.7);
}

#descrizionePreparation {
  display: flex;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#descrizionePreparation p {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 25vw;
  max-width: 40vw;
  padding: 50px;
  border-radius: 15px;
  font-size: clamp(1rem, 1.5vw, 2.2rem);
}

#descrizionePreparation h1 {
  font-size: clamp(1rem, 3vw, 5rem);
}

#descrizionePreparation h1,
#descrizionePreparation p {
  text-align: center;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* #endregion preparation */
/* #region prodotti */
#productsParallax {
  background-image: url("../images/parallax/ovenBackground.jpg");
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
}

#productsMasterContainer {
  height: 100%;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgba(0, 0, 0, 0.5);
}

#productsParallax h1 {
  color: white;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 0;
  font-size: clamp(1rem, 3vw, 5rem);
  padding: 30px;
}

.card-body {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  #productsParallax h1 {
    font-size: clamp(2.5rem, 5vw, 3rem) !important;
  }
  .product {
    flex-basis: 80% !important;
  }
  .card-text {
    font-size: clamp(1.5rem, 4vw, 5rem) !important;
  }
  #productsContainer img {
    height: 80% !important;
  }
}
#productsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#productsContainer .card {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 15px;
  border: 10px solid rgba(0, 0, 0, 0);
}

.product {
  margin: 5px;
  flex-basis: 30%;
  margin-bottom: 15px;
}

#productsContainer .card p {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
}

#productsContainer img {
  width: 100%;
  height: 75%;
  border-radius: 15px;
}

/* #endregion prodotti */
/* #endregion */
/* #region navbar */
.snip1226 {
  font-family: "Raleway", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.snip1226 * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.snip1226 li {
  display: inline-block;
  list-style: outside none none;
  margin: 5px 1.5em;
  overflow: hidden;
}

.snip1226 a {
  padding: 0.3em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}

.snip1226 a:before,
.snip1226 a:after {
  position: absolute;
  transition: all 0.35s ease;
}

.snip1226 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}

.snip1226 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}

.snip1226 li:hover a,
.snip1226 .current a {
  transform: translateY(100%);
}

/* Demo purposes only */
body {
  background-color: #212121;
}

/* #endregion */
i {
  color: white;
}
/*# sourceMappingURL=style.css.map */
